.timemarker {

  display: inline-flex;
  align-items: center;

  &__label {
    #type > #size > .sm;
    #type > #font > .sans-sc;
    color: ligten(@c_text,30%);
  }

  >.icon {
    align-self: center;
  }
  &--simple >.icon {
    display: none;
  }

  &--firefly &__label {
    color: @c_firefly;
  }
  &--firefly .icon--coin {
    fill: @c_firefly;
  }

  &--onalytica &__label {
    color: @c_onalytica;
  }
  &--onalytica .icon--coin {
    fill: @c_onalytica;
  }

  &--glaxstar &__label {
    color: @c_glaxstar;
  }
  &--glaxstar .icon--coin {
    fill: @c_glaxstar;
  }

  &--other &__label {
    color: @c_other;
  }
  &--other .icon--coin {
    fill: @c_other;
  }


}
