.button {
  display: inline-block;
  .space(padding,1,3);
  background-color: @c_secondary-light;
  color: contrast(@c_secondary-light);
  text-decoration: none;
  #type > #size > .p;
  .space(border-radius,3);

  &--firefly {
    background-color: @c_firefly;
    color: contrast(@c_firefly);
  }

  &--onalytica {
    background-color: @c_onalytica;
    color: contrast(@c_onalytica);
  }

  &--glaxstar {
    background-color: @c_glaxstar;
    color: contrast(@c_glaxstar);
  }

  &--personal,
  &--freelance {
    background-color: @c_other;
    color: contrast(@c_other);
  }
}
