@base: 16;

@type-s: 16;
@type-m: 19;
@type-l: 23;

.break-m(@rule) {
  @media screen and (min-width: (unit(960/@base,em)) ) {
    @rule();
  }
}
.break-l(@rule) {
  @media screen and (min-width: (unit(1440/@base,em)) ) {
    @rule();
  }
}

@import 'reset';
@import 'typography';

body {
  padding: 0 20px;
}

@import '../templates/patterns/prose/prose.less';
@import '../templates/patterns/title/title.less';
