@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,900,900i');
@import 'typography';

@c_bg: #F7F7F7;
@c_border: #ccc;
@c_text: #333;

.block {
  border: 1px solid @c_border;
  background-color: @c_bg;
  padding: 20px;
  color: @c_text;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;

  p:last-child {
    margin-bottom: 0;
  }

  &--inline {
    display: inline-block;
  }

  &--text {
    font-style: italic;
    text-align: center;
  }

}

.nav {
  a {display: block;}

  &--inline ul {
    display: flex;
  }

  &--inline li {
    margin-right: 20px;
  }

}

.textfiller {
  border: 1px dashed @c_border;
  //background: @c_bg;
  margin-bottom: 20px;
  padding: 10px;
  font-style: italic;
}
