/* sitewide typography settings */

// alegreya
@font-face {
    font-family: 'alegreya';
    src: url('/fonts/alegreya-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya';
    src: url('/fonts/alegreya-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alegreya';
    src: url('/fonts/alegreya-black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya';
    src: url('/fonts/alegreya-blackitalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

//alegreya small caps
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

//alegreya sans
@font-face {
    font-family: 'alegreya-sans';
    src: url('/fonts/alegreyasans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('/fonts/alegreyasans-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('/fonts/alegreyasans-black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('/fonts/alegreyasans-blackitalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* typographic mixins */

/*
=== SCALE ====

sizes:  11 | 13 | 16 | 19 | 23 | 32 | 45 | 64 | 91 | 128
small:  sm |    | p  | h4 | h3 | h2 |    | h1 |    |
med:       | sm |    | p  | h4 | h3 | h2 |    | h1 |
large:     |    | sm |    | p  | h4 | h3 | h2 |    | h1

(sm: small p)
*/

#type {
  .size(@s,@m,@l) {
    font-size: unit(@s/@base,rem);
    .break-min({font-size: unit(@m/@base,rem);});
    .break-mid({font-size: unit(@l/@base,rem);});
  }

  #size {
    .sm() {
      #type > .size(11,13,16);
    }
    .p() {
      #type > .size(16,19,23);
    }
    .h1() {
      #type > .size(64,91,128);
    }
    .h2() {
      #type > .size(32,45,64);
    }
    .h3() {
      #type > .size(23,32,45);
    }
    .h4() {
      #type > .size(19,23,32);
    }
  }

  #font {
    .sans() {
      font-family: 'alegreya-sans';
    }
    .sans-sc() {
      font-family: 'alegreya-sans sc';
      text-transform: lowercase;
    }
    .serif() {
      font-family: 'alegreya';
    }
    .serif-sc() {
      font-family: 'alegreya sc';
      text-transform: lowercase;
    }
  }

}

/* global text settings */
body {
  #type > #font > .serif;
  color: #333;
  font-size: 1rem;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  font-kerning: normal;
}
@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}



i, em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}

sup, sub {
  position: relative;
}

sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}

@supports (font-variant-position: sub) {
  sub,sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}

h1,h2,h3,h4,h5,h6 {
  #type > #font > .serif;
  font-weight: bold;
  line-height: 1;
}

h1,h2,h3,h4 {
  letter-spacing: -0.02em;
  font-variant-ligatures: discretionary-ligatures;
}
