/* sitewide typography settings */

// alegreya
@font-face {
    font-family: 'alegreya';
    src: url('@{baseurl}/fonts/alegreya-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya';
    src: url('@{baseurl}/fonts/alegreya-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alegreya';
    src: url('@{baseurl}/fonts/alegreya-extrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya';
    src: url('@{baseurl}/fonts/alegreya-extrabolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

//alegreya small caps
@font-face {
  font-family: 'alegreya sc';
  src: url('@{baseurl}/fonts/alegreyasc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('@{baseurl}/fonts/alegreyasc-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('@{baseurl}/fonts/alegreyasc-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('@{baseurl}/fonts/alegreyasc-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

//alegreya sans
@font-face {
    font-family: 'alegreya-sans';
    src: url('@{baseurl}/fonts/alegreyasans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('@{baseurl}/fonts/alegreyasans-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('@{baseurl}/fonts/alegreyasans-black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya-sans';
    src: url('@{baseurl}/fonts/alegreyasans-blackitalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

//alegreya sans small caps
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('@{baseurl}/fonts/alegreyasanssc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('@{baseurl}/fonts/alegreyasanssc-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('@{baseurl}/fonts/alegreyasanssc-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('@{baseurl}/fonts/alegreyasanssc-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

/* typographic mixins */

/*
=== TYPOGRAHIC SCALES ====

     base |   min |   mid |   max
xsm:14.00 | 15.00 | 16.00 | 17.00
sm: 15.00 | 17.25 | 19.00 | 19.00
p:  17.00 | 19.00 | 23.00 | 23.00
h4: 22.66 | 22.66 | 25.33 | 30.66 (& .intro)
h3: 30.21 | 30.21 | 33.76 | 40.87
h2: 40.27 | 40.27 | 45.00 | 54.48
h1: 71.55 | 71.55 |106.59 |129.04

*/

#type {
  .size(@sm,@min,@mid,@max,@lh-sm:@sm,@lh-min:@min,@lh-mid:@mid,@lh-max:@max) {
    font-size: unit(@sm/@base,rem);
    line-height: @lh-sm/@sm;
    .break-min({
      font-size: unit(@min/@base,rem);
      line-height: @lh-min/@min;
    });
    .break-mid({
      font-size: unit(@mid/@base,rem);
      line-height: @lh-mid/@mid;
    });
    .break-max({
      font-size: unit(@max/@base,rem);
      line-height: @lh-max/@max;
    });
  }

  #size {
    .xsm() {
      #type > .size(
        15,15,16,17, //type sizes
        16,16,24,24 //line-height (base-8)
      );
    }
    .sm() {
      #type > .size(
        15,17.25,19,19, //type sizes
        16,24,24,24 //line-height (base-8)
      );
    }
    .p() {
      #type > .size(
        17,19,23,23, //type sizes
        24,24,32,32 //line-height (base-8)
      );
    }
    .lg() {
      #type > .size(
        22.66,22.66,25.33,30.66, //type sizes
        32,32,32,40 //line-height (base-8)
      )
    }
    .h1() {
      #type > .size(71.55,71.55,106.59,129.04);
    }
    .h2() {
      #type > .size(40.27,40.27,45,54,48);
    }
    .h3() {
      #type > .size(30.21,30.21,33.76,40.87);
    }
    .h4() {
      #type > .size(22.66,22.66,25.33,30.66);
    }
  }

  #style {
    .link() {
      color: @c_text;
      font-weight: bold;
      text-decoration: underline mix(@c_text,white,10%);
      &:hover {
        background-color: mix(@c_text,white,10%);
      }
    }
  }

  #font {
    .sans() {
      font-family: 'alegreya-sans';
      font-feature-settings:"lnum" 1;
    }
    .sans-sc() {
      font-family: 'alegreya-sans sc';
      text-transform: lowercase;
      font-weight: bold;
      .break-min({ font-weight: normal; });
    }
    .serif() {
      font-family: 'alegreya';
      font-feature-settings:"lnum" 1;
    }
    .serif-sc() {
      font-family: 'alegreya sc';
      text-transform: lowercase;
    }
  }

}

/* global text settings */
body {
  #type > #font > .sans;
  color: @c_text;
  font-size: 1rem;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  font-kerning: normal;
}
@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}



i, em {
  font-style: italic;
}
b, strong {
  font-weight: bold;
}

sup, sub {
  position: relative;
}

sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}

@supports (font-variant-position: sub) {
  sub,sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}

h1,h2,h3,h4,h5,h6 {
  #type > #font > .serif;
  font-weight: bold;
}

h1,h2,h3,h4 {
  letter-spacing: -0.02em;
  //font-variant-ligatures: discretionary-ligatures;
}

a:focus {
  outline: 1px solid @c_secondary-light;
}
