{% extends "layouts/default.html" %}
{% block content %}
  <h1>{{page.title}}</h1>
  {{content}}
  {% for blog in site.blogs %}
  {% if blog.name == 'articles' %}

  <h2>Topics</h2>

  <nav class="nav nav--inline">
    {% for tag in blog.tags.items %}
    <a href="/articles/tags/{{tag.url}}" class="tag">{{tag.name}} ({{tag.count}})</a>
    {% endfor %}
  </nav>

  <h2>Recent Articles</h2>

  {% for item in blog.items %}
  {% if loop.index < 5 %}
  <article class="block">
    <h2><a href="/articles/{{item.url}}">{{item.title}}</a></h2>
    <p><time>{{item.humanDate.date}}</time></p>
    <p>{{item.intro}}</p>
  </article>
  {% endif %}
  {% endfor %}

  <p><a href="/articles/{{blog.pagination.links[0].url}}">See all articles</a></p>

  {% endif %}
  {% endfor %}
{% endblock %}
