{% extends "layouts/default.html" %}
{% block content %}
  <h1>My styleguide: Kanga</h1>
  <div class="textfiller">
    An introduction to the styleguide
  </div>
  <div class="block">
    <h3><a href="/styleguide/principals">Principals</a></h3>
    <p>How I make design decisions on this site</p>
  </div>
  <div class="block">
    <h3><a href="styleguide-design.html">Design</a></h3>
    <p>Logo, colours, typography, layouts, motion and icons</p>
  </div>
  <div class="block">
    <h3><a href="/styleguide/components">Components</a></h3>
    <p>The building blocks of this site</p>
  </div>
{% endblock %}
