{% extends "layouts/default.html" %}
{% block content %}
<h1>Work</h1>
<div class="textfiller">Intro to this section</div>
<h2>Firefly Learning</h2>
<div class="textfiller">About Firefly and my role</div>
<div class="block">
  <h3><a href="work-firefly-essence.html">Uncovering Firefly's essence</a></h3>
  <p><time>Winter 2017/18</time></p>
  <p>Workshopping Firefly's unique offering story to accelerate our sale cycle.</p>
</div>
<div class="block">
  <h3><a href="work-sketch-pattern-library.html">Sketch pattern library</a></h3>
  <p><time>Winter 2017/18</time></p>
  <p>Workshopping Firefly's unique offering story to accelerate our sale cycle.</p>
</div>
{% endblock %}
