{% from "patterns/figure/figure.html" import "figure" %}
{% from "patterns/prose/prose.html" import "prose" %}
{% from "patterns/title/title.html" import "title" %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.seoTitle %}{{page.seoTitle}}{% else %}{{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.intro %}{{ page.intro }}{% else %}The portfolio of Jon Roobottom a design leader and developer based in Brighton, UK.{% endif %}">
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all">
  </head>
  <body class="page__{{page.name}}">
    {% include "partials/header.html" %}
    {% block content %}
    {% endblock %}
    {% include "partials/footer.html" %}
  </body>
  <script src="/js/anime.min.js" type="text/javascript"></script>
  <script src="/js/header.js" type="text/javascript"></script>
</html>
