{% from "_patterns/button/button.html" import "button" %}

{% macro teaser(title,content,url,cta,level=2,meta,modifier) %}
  <div class="teaser{% if modifier %} teaser--{{modifier}}{% endif %}">
    <h{{level}} class="teaser__title teaser__title--{{level}}">{% if url %}<a href="{{baseurl}}{{url}}" class="teaser__link">{{title}}</a>{% else %}{{title}}{% endif %}</h{{level}}>
    {% if meta %}<p class="teaser__meta">{{meta}}</p>{% endif %}
    <p class="teaser__content">{{content}}</p>
    {% if url %}{{button(cta,url,modifier=modifier)}}{% endif %}
  </div>
{% endmacro %}
