{% extends "layouts/default.html" %}
{% block content %}
  <h1>Articles, page {{page.currentPage}} of {{page.totalPages}}</h1>
  {{ page.content }}
  {% for item in page.items %}
  <article class="block">
    <h2><a href="/articles/{{item.url}}">{{item.title}}</a></h2>
    <time>{{item.humanDate.date}}</time>
  </article>
  {% endfor %}
  <ul>
    {% for link in page.pagination %}
      <li><a href="/articles/{{link.url}}">Page {{link.currentPage}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
