{% extends "layouts/default.html" %}
{% block content %}
  {{ title(page.title)}}
  {{ postinfo(page.humanDate.date,page.tags,'articles') }}
  {{ prose(page.content) }}
  <div class="profile">
    <img src="/images/jon-roobottom-square.jpg" class="profile__image" alt="A picture of Jon Roobottom, the author of this site"/>
    <div class="profile__text">
      <p><strong>Thanks for reading this article!</strong> My name is Jonathan &mdash; Jon to my friends &mdash; and I've been creating physical things and digital stuff for the last 20 years.</p>
      <p>I'd love to hear from you, whatever your thoughts, via <a href="https://twitter.com/@roobottom" class="profile__link profile__link--twitter">Twitter</a>. I'd also be delighted to connect with you on <a href="https://www.linkedin.com/in/roobottom/" class="profile__link profile__link--linkedin">LinkedIn</a>, too.</p>
    </div>

  </div>
  {{ pagination(page.prev,page.next) }}
{% endblock %}
