//breakpoint reminder:
//min: 906, mid: 1134, max: 1300

#grid {
  .g(@min,@mid,@max) {
    outline: 1px solid green;
    .break-min({
      width: unit(@min*@space/@base,rem);
    });
    .break-mid({
      width: unit(@mid*@space/@base,rem);
    });
    .break-max({
      width: unit(@max*@space/@base,rem);
    });
  }

  .text() {
    .g(@grid-text-min,@grid-text-mid,@grid-text-max);
  }
  .pull() {
    .g(@grid-pull-min,@grid-pull-mid,@grid-pull-max);
  }


  .text-and-pull() {
    .g(
      @grid-text-min + @grid-gap-min + @grid-pull-min,
      @grid-text-mid + @grid-gap-mid + @grid-pull-mid,
      @grid-text-max + @grid-gap-max + @grid-pull-max
    );
  }


  .offset-text() {
    .break-min({
      padding-right: unit((@grid-pull-min + @grid-gap-min)*@space/@base,rem);
    });
    .break-mid({
      padding-right: unit((@grid-pull-mid + @grid-gap-mid)*@space/@base,rem);
    });
    .break-max({
      padding-right: unit((@grid-pull-max+ @grid-gap-max)*@space/@base,rem);
    });
  }

  .max() {
    max-width: unit(@grid-max*@space/@base,rem);
  }

}
