.logo {
  display: flex;
  align-items: center;

  .break-min({
    .space(margin,4,0);
  });

  &__mark {
    width: unit(30/@base,rem);
    height: unit(38/@base,rem);

  }

  &__type {
    width: unit(111/@base,rem);
    height: unit(24/@base,rem);
    fill: white;
    .space(margin-left,2);
    .break-min({
      display: none;
    });
    .break-mid({
      display: block;
    });
  }

}
