.title {

  #grid > .text-and-pull;
  margin-left: auto;
  margin-right: auto;
  .space(margin-bottom,4);

  .break-mid({
    .space(margin-bottom,6);
  });


  &__text {
    #type > #size > .h1;
    &--2 {
      #type > #size > .h2;
    }
    &--3 {
      #type > #size > .h3;
    }

  }

  &.reverse {
    color: white;
  }

  &.hero {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    //--- HEIGHT CALC --
    //main section padding top+bottom = 6 units
    //nav section padding top+bottom = 4 units
    @reduce: unit((@space * 10)/@base,rem);
    height: ~"calc(100vh - @{reduce})";
    .break-min({
      //main section padding top = 4 units
      @reduce: unit((@space * 4)/@base,rem);
      height: ~"calc(100vh - @{reduce})";
    });
  }

}
