.navigation {

  background-color: fade(@c_primary-dark,98%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
  display: none;
  overflow-x: auto;

  .break-min({
  });

  &:target, .is-visible {
    display: block !important;
  }

  #navigation__label {
    display: none;
  }

  &__items {
    .space(margin,3);
    .break-min({
      @d: unit(5 * @space / @base,rem);
      transform: ~"translateX(@{d})";
      width: unit( (@grid-text-min + @grid-gap-min + @grid-pull-min) * @space / @base, rem);
      margin-left: auto;
      margin-right: auto;
      .space(margin-top,4);
    });
    .break-mid({
      width: unit( (@grid-text-mid + @grid-gap-mid + @grid-pull-mid) * @space / @base, rem);
    });
    .break-max({
      width: unit( (@grid-text-max + @grid-gap-max + @grid-pull-max) * @space / @base, rem);
    });
  }

  &__item {
    list-style: none;
    .space(margin-bottom,3);
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    #type > #size > .h2;
    color: white;
    text-decoration: none;
    .space(margin-bottom,1);
  }

  &__description {
    #type > #size > .p;
    color: contrast(@c_primary-light,@c_text,mix(@c_primary-light,white,30%));
  }

}
