.navigation__trigger {
  .break-mid({
    display: none;
  });
}

.navigation {
  display: none;

  &.fullscreen:target {
    display: flex;
  }

  &.fullscreen {
    background-color: @c_primary-dark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .space(padding,3);
    justify-content: center;
    align-items:center;
  }

  &.inline {
    .break-mid({
      display: block;
    });
  }

  &__item {
    .space(margin-bottom,2);
    list-style: none;
  }

  &__link {
    color: white;
    #type > #font > .serif;
    #type > #size > .h4;
    text-decoration: none;
  }

  &__link--current {
    font-weight: bold;
  }

  &.fullscreen &__link {
    #type > #size > .h1;
  }

}
