div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  text-decoration: none;
  cursor: help;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* sitewide typography settings */
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/alegreya-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/alegreya-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/alegreya-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/alegreya-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/alegreyasc-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/alegreyasans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/alegreyasans-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/alegreyasans-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/alegreyasans-blackitalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
/* typographic mixins */
/*
=== SCALE ====

sizes:  11 | 13 | 16 | 19 | 23 | 32 | 45 | 64 | 91 | 128
small:  sm |    | p  | h4 | h3 | h2 |    | h1 |    |
med:       | sm |    | p  | h4 | h3 | h2 |    | h1 |
large:     |    | sm |    | p  | h4 | h3 | h2 |    | h1

(sm: small p)
*/
/* global text settings */
body {
  font-family: 'alegreya';
  color: #333;
  font-size: 1rem;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  font-kerning: normal;
}
@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
sup,
sub {
  position: relative;
}
sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}
@supports (font-variant-position: sub) {
  sub,
  sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'alegreya';
  font-weight: bold;
  line-height: 1;
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
  font-variant-ligatures: discretionary-ligatures;
}
.prose p,
.prose > ul,
.prose > ol,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose table {
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}
.prose > p,
.prose > ol,
.prose > ul {
  font-size: 1rem;
  line-height: 1.4;
}
@media screen and (min-width: 60em) {
  .prose > p,
  .prose > ol,
  .prose > ul {
    font-size: 1.1875rem;
  }
}
@media screen and (min-width: 90em) {
  .prose > p,
  .prose > ol,
  .prose > ul {
    font-size: 1.4375rem;
  }
}
.prose > * {
  margin-top: 1em;
}
.prose > *:first-child {
  margin-top: 0;
}
.prose > p:first-child {
  font-size: 1.4375rem;
  line-height: 1;
  font-weight: bold;
  font-family: 'alegreya-sans';
}
@media screen and (min-width: 60em) {
  .prose > p:first-child {
    font-size: 2rem;
  }
}
@media screen and (min-width: 90em) {
  .prose > p:first-child {
    font-size: 2.8125rem;
  }
}
.prose h1 {
  font-size: 4rem;
}
@media screen and (min-width: 60em) {
  .prose h1 {
    font-size: 5.6875rem;
  }
}
@media screen and (min-width: 90em) {
  .prose h1 {
    font-size: 8rem;
  }
}
.prose h2 {
  font-size: 2rem;
}
@media screen and (min-width: 60em) {
  .prose h2 {
    font-size: 2.8125rem;
  }
}
@media screen and (min-width: 90em) {
  .prose h2 {
    font-size: 4rem;
  }
}
.prose h3 {
  font-size: 1.4375rem;
}
@media screen and (min-width: 60em) {
  .prose h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 90em) {
  .prose h3 {
    font-size: 2.8125rem;
  }
}
.prose h4,
.prose h5,
.prose h5 {
  font-size: 1.1875rem;
}
@media screen and (min-width: 60em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    font-size: 1.4375rem;
  }
}
@media screen and (min-width: 90em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    font-size: 2rem;
  }
}
.prose abbr {
  font-family: 'alegreya sc';
  text-transform: lowercase;
  border-bottom: 1px dotted;
}
.prose ul ul,
.prose ul ol,
.prose ol ol,
.prose ol ul {
  margin-left: 1em;
}
.prose li {
  margin-top: 0.5em;
}
.prose li:first-child {
  margin-top: 0;
}
.prose table {
  font-family: 'alegreya-sans';
  border-collapse: collapse;
  font-size: 1rem;
  font-variant-numeric: lining-nums tabular-nums;
}
@media screen and (min-width: 60em) {
  .prose table {
    font-size: 1.1875rem;
  }
}
@media screen and (min-width: 90em) {
  .prose table {
    font-size: 1.4375rem;
  }
}
.prose td,
.prose th {
  padding: 0.125em 0.5em 0.25em 0.5em;
  line-height: 1;
}
.prose td {
  text-align: "." center;
}
.title {
  font-size: 4rem;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 60em) {
  .title {
    font-size: 5.6875rem;
  }
}
@media screen and (min-width: 90em) {
  .title {
    font-size: 8rem;
  }
}
.sea {
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}
