div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  text-decoration: none;
  cursor: help;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
input[type="submit"],
input[type="button"],
button {
  padding: 0;
  margin: 0;
}
input,
select,
a img {
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* sitewide typography settings */
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/Alegreya-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/Alegreya-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/Alegreya-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya';
  src: url('/fonts/Alegreya-ExtraBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/AlegreyaSC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/AlegreyaSC-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/AlegreyaSC-black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya sc';
  src: url('/fonts/AlegreyaSC-BlackItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/AlegreyaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/AlegreyaSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/AlegreyaSans-Black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans';
  src: url('/fonts/AlegreyaSans-BlackItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('/fonts/AlegreyaSansSC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('/fonts/AlegreyaSansSC-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('/fonts/AlegreyaSansSC-Black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'alegreya-sans sc';
  src: url('/fonts/AlegreyaSansSC-BlackItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'code';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}
/* typographic mixins */
/*
==== TYPOGRAHIC SCALES ====
==== 3:4 (Major Third) (1.3333) ====

Base: 17  |  17   |   19  |   23

     base |   min |   mid |   max
xsm:14.00 | 15.00 | 16.00 | 17.00
sm: 15.00 | 17.25 | 19.00 | 19.00
p:  17.00 | 19.00 | 23.00 | 23.00
h4: 22.66 | 22.66 | 25.33 | 30.66 (& .intro)
h3: 30.21 | 30.21 | 33.76 | 40.87
h2: 40.27 | 40.27 | 45.00 | 54.48
h1: 53.68 | 53.68 | 79.97 | 96.80

*/
/* global text settings */
body {
  font-family: 'alegreya-sans';
  font-feature-settings: "lnum" 1;
  color: #05131F;
  font-size: 1rem;
  font-feature-settings: "liga" 1;
  font-variant: normal;
  font-kerning: normal;
}
@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}
i,
em {
  font-style: Italic;
}
b,
strong {
  font-weight: bold;
}
sup,
sub {
  position: relative;
  font-size: 0.9375rem;
  line-height: 1.33333333;
}
@media screen and (min-width: 45.5em) {
  sup,
  sub {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  sup,
  sub {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  sup,
  sub {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
sup {
  top: -0.3em;
}
sub {
  bottom: -0.3em;
}
@supports (font-variant-position: sub) {
  sub,
  sup {
    position: inherit;
    top: auto;
    bottom: auto;
  }
  sub {
    font-variant-position: sub;
  }
  sup {
    font-variant-position: super;
  }
}
h1,
h2 {
  font-family: 'alegreya';
  font-feature-settings: "lnum" 1;
  font-weight: bold;
}
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
@media screen and (min-width: 45.5em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: normal;
    hyphens: manual;
  }
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.02em;
}
a:focus {
  outline: 1px solid #FF147E;
}
.icon {
  width: 1.75rem;
  height: 1.75rem;
}
.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 45.5em) {
  .title {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .title {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .title {
    width: 66.5rem;
  }
}
@media screen and (min-width: 71.5em) {
  .title {
    margin-bottom: 3rem;
  }
}
.title__text {
  font-size: 3.355rem;
  line-height: 1;
}
@media screen and (min-width: 45.5em) {
  .title__text {
    font-size: 3.355rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .title__text {
    font-size: 4.998125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .title__text {
    font-size: 6.05rem;
    line-height: 1;
  }
}
.title__text--2 {
  font-size: 2.516875rem;
  line-height: 1.19195431;
}
@media screen and (min-width: 45.5em) {
  .title__text--2 {
    font-size: 2.516875rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .title__text--2 {
    font-size: 2.8125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .title__text--2 {
    font-size: 3.375rem;
    line-height: 1;
  }
}
.title__text--3 {
  font-size: 1.888125rem;
  line-height: 1;
}
@media screen and (min-width: 45.5em) {
  .title__text--3 {
    font-size: 1.888125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .title__text--3 {
    font-size: 2.11rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .title__text--3 {
    font-size: 2.554375rem;
    line-height: 1;
  }
}
.title.reverse {
  color: white;
}
.title.hero {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: calc(100vh - 5rem);
}
@media screen and (min-width: 45.5em) {
  .title.hero {
    height: calc(100vh - 2rem);
  }
}
.button {
  display: inline-block;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #FF147E;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  border-radius: 1.5rem;
}
@media screen and (min-width: 45.5em) {
  .button {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .button {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .button {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.button--firefly {
  background-color: #5C14FF;
  color: #ffffff;
}
.button--onalytica {
  background-color: #FF147E;
  color: #ffffff;
}
.button--glaxstar {
  background-color: #00C196;
  color: #ffffff;
}
.button--personal,
.button--freelance {
  background-color: #05131F;
  color: #ffffff;
}
.timemarker {
  display: inline-flex;
  align-items: center;
}
.timemarker__label {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  font-family: 'alegreya-sans sc';
  text-transform: lowercase;
  color: ligten(#05131F, 30%);
  margin-left: 0.5rem;
}
@media screen and (min-width: 45.5em) {
  .timemarker__label {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .timemarker__label {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .timemarker__label {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.timemarker > .icon {
  align-self: center;
}
.timemarker--simple {
  float: right;
  text-align: right;
}
@media screen and (min-width: 45.5em) {
  .timemarker--simple {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .timemarker--simple {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .timemarker--simple {
    width: 66.5rem;
  }
}
.timemarker--simple > .icon {
  display: none;
}
.timemarker--firefly .timemarker__label {
  color: #5C14FF;
}
.timemarker--firefly .icon--coin {
  fill: #5C14FF;
}
.timemarker--onalytica .timemarker__label {
  color: #FF147E;
}
.timemarker--onalytica .icon--coin {
  fill: #FF147E;
}
.timemarker--glaxstar .timemarker__label {
  color: #00C196;
}
.timemarker--glaxstar .icon--coin {
  fill: #00C196;
}
.timemarker--freelance .timemarker__label,
.timemarker--personal .timemarker__label {
  color: #05131F;
}
.timemarker--freelance .icon--coin,
.timemarker--personal .icon--coin {
  fill: #05131F;
}
.teaser__title {
  font-size: 3.355rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 45.5em) {
  .teaser__title {
    font-size: 3.355rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .teaser__title {
    font-size: 4.998125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .teaser__title {
    font-size: 6.05rem;
    line-height: 1;
  }
}
.teaser__title--2 {
  font-size: 2.516875rem;
  line-height: 1.19195431;
}
@media screen and (min-width: 45.5em) {
  .teaser__title--2 {
    font-size: 2.516875rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .teaser__title--2 {
    font-size: 2.8125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .teaser__title--2 {
    font-size: 3.375rem;
    line-height: 1;
  }
}
.teaser__title--3 {
  font-size: 1.888125rem;
  line-height: 1;
}
@media screen and (min-width: 45.5em) {
  .teaser__title--3 {
    font-size: 1.888125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .teaser__title--3 {
    font-size: 2.11rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .teaser__title--3 {
    font-size: 2.554375rem;
    line-height: 1;
  }
}
.teaser__meta {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  font-style: italic;
  color: #697179;
  margin-bottom: 1rem;
}
@media screen and (min-width: 45.5em) {
  .teaser__meta {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .teaser__meta {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .teaser__meta {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.teaser__content {
  font-size: 1.0625rem;
  line-height: 1.41176471;
  margin-bottom: 1rem;
}
@media screen and (min-width: 45.5em) {
  .teaser__content {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .teaser__content {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .teaser__content {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.teaser__link {
  color: #05131F;
  text-decoration: none;
}
.figure {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media screen and (min-width: 45.5em) {
  .figure {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .figure {
    width: 37rem;
    padding-right: 15rem;
  }
}
@media screen and (min-width: 90.5em) {
  .figure {
    width: 48rem;
    padding-right: 18.5rem;
  }
}
@media screen and (min-width: 45.5em) {
  .figure {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.figure img {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}
.figure__caption {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  color: #82898f;
  margin-top: 1rem;
  font-style: italic;
}
@media screen and (min-width: 45.5em) {
  .figure__caption {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .figure__caption {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .figure__caption {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.figure.side-by-side {
  padding-right: 0;
}
@media screen and (min-width: 45.5em) {
  .figure.side-by-side {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .figure.side-by-side {
    display: flex;
    width: 52rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 90.5em) {
  .figure.side-by-side {
    display: flex;
    width: 66.5rem;
    justify-content: space-between;
  }
}
.figure.side-by-side .figure__images {
  padding-right: 0;
}
@media screen and (min-width: 71.5em) {
  .figure.side-by-side .figure__images {
    width: 37rem;
  }
}
@media screen and (min-width: 90.5em) {
  .figure.side-by-side .figure__images {
    width: 48rem;
  }
}
.figure.side-by-side .figure__caption {
  align-self: flex-end;
}
@media screen and (min-width: 71.5em) {
  .figure.side-by-side .figure__caption {
    width: 12.5rem;
  }
}
@media screen and (min-width: 90.5em) {
  .figure.side-by-side .figure__caption {
    width: 15rem;
  }
}
.figure.max {
  width: auto;
  padding: 0;
}
.figure.max .figure__caption {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 45.5em) {
  .figure.max .figure__caption {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .figure.max .figure__caption {
    width: 37rem;
    padding-right: 15rem;
  }
}
@media screen and (min-width: 90.5em) {
  .figure.max .figure__caption {
    width: 48rem;
    padding-right: 18.5rem;
  }
}
@media screen and (min-width: 45.5em) {
  .figure.pull .figure__images {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .figure.pull .figure__images {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .figure.pull .figure__images {
    width: 66.5rem;
  }
}
.figure.right {
  float: right;
  width: 8.5rem;
  margin: 0rem 0rem 1rem 1rem;
}
@media screen and (min-width: 45.5em) {
  .figure.right {
    float: right;
    margin-right: calc(1 * (100% - 37rem) / 2);
  }
}
@media screen and (min-width: 71.5em) {
  .figure.right {
    width: 12.5rem;
    margin-right: calc(1 * (100% - 52rem) / 2);
  }
}
@media screen and (min-width: 90.5em) {
  .figure.right {
    width: 15rem;
    margin-right: calc(1 * (100% - 66.5rem) / 2);
  }
}
.figure.right ~ *:not(p):not(ul):not(ol) {
  clear: both;
}
.figure__images--gallery {
  display: flex;
}
.figure__images--gallery .figure__image {
  margin-right: 1rem;
  position: relative;
}
.figure__images--gallery .figure__image:last-child {
  margin-right: 0;
}
.figure__number {
  position: absolute;
  font-size: 0.9375rem;
  line-height: 1.33333333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  display: block;
  background-color: white;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 45.5em) {
  .figure__number {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .figure__number {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .figure__number {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.figure .frame--browser {
  border: 1px solid #ccc;
  padding: 0.25rem;
}
@media screen and (min-width: 45.5em) {
  .figure .frame--browser {
    padding: 0.5rem;
  }
}
.figure .frame--browser + .figure__number {
  bottom: 1px;
  right: 1px;
}
.figure .frame--phone {
  border-left-width: 0.5rem;
  border-right-width: 0.5rem;
  border-bottom-width: 1.5rem;
  border-top-width: 1rem;
  border-radius: 13px;
  border-color: #FCFCFC;
  border-style: solid;
  background-color: #111111;
  padding: 2px;
  box-shadow: 0 0 0 1px #CCC, 0 0 4px rgba(0, 0, 0, 0.4);
  max-width: 9rem;
}
@media screen and (min-width: 45.5em) {
  .figure .frame--phone {
    max-width: 13.5rem;
    border-left-width: 0.75rem;
    border-right-width: 0.75rem;
    border-bottom-width: 3rem;
    border-top-width: 2rem;
  }
}
.figure .frame--polaroid {
  padding: 3px;
  background-color: #F1F1F1;
  border: 10px solid white;
  border-bottom-width: 60px;
  box-shadow: 0 0 0 4px #D1D1D1, 0 0 0 6px white;
}
#jk-banner .figure__images {
  background-color: #275877;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%), url(/images/wedding/cushion.png);
  border-top: 1px solid #0e1f2a;
  padding: 1.5rem 0rem 1.5rem 0rem;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 45.5em) {
  #jk-banner .figure__images {
    justify-content: flex-start;
    padding: 3rem 0rem 3rem 0rem;
  }
  #jk-banner .figure__images > img {
    margin-left: 7rem;
  }
}
#nb-banner {
  padding: 3rem 0rem 3rem 0rem;
}
#nb-banner .figure__images {
  justify-content: space-between;
}
#nb-banner .figure__image {
  padding: 0;
  position: relative;
  z-index: -1;
  width: 25%;
}
#nb-banner .figure__image:nth-child(1) img {
  transform: rotate(-4.5deg);
}
#nb-banner .figure__image:nth-child(2) img {
  transform: rotate(2deg);
}
#nb-banner .figure__image:nth-child(3) img {
  transform: rotate(-3deg);
}
#nb-banner .figure__image:nth-child(4) img {
  transform: rotate(2.7deg);
  margin-right: 80px;
}
.meta {
  display: block;
  margin-top: 2rem;
  border-radius: 1rem;
  border: 2px solid #5C14FF;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 45.5em) {
  .meta {
    width: 27rem;
  }
}
@media screen and (min-width: 71.5em) {
  .meta {
    width: 37rem;
  }
}
@media screen and (min-width: 90.5em) {
  .meta {
    width: 48rem;
  }
}
@media screen and (min-width: 45.5em) {
  .meta {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .meta {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .meta {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.meta:before {
  content: '';
  display: block;
  background-color: rgba(92, 20, 255, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0.5rem;
  left: 0.5rem;
}
.meta tr {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 45.5em) {
  .meta tr {
    display: table-row;
  }
}
.meta td,
.meta th {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
.meta__body {
  margin: 1.5rem;
  display: block;
}
.meta__key {
  font-family: 'alegreya';
  font-feature-settings: "lnum" 1;
  font-weight: bold;
  vertical-align: top;
}
@media screen and (min-width: 45.5em) {
  .meta__key {
    text-align: right;
  }
}
.meta__value {
  vertical-align: top;
}
.pagination {
  margin-top: 4rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  position: relative;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 45.5em) {
  .pagination {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .pagination {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .pagination {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 45.5em) {
  .pagination {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .pagination {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .pagination {
    width: 66.5rem;
  }
}
.pagination a {
  color: #05131F;
  text-decoration: underline #cdd0d2;
  transition: background-color 0.3s ease-out;
}
.pagination a:hover {
  background-color: #e6e7e9;
}
.pagination__prev {
  width: 50%;
}
.pagination__next {
  width: 50%;
  text-align: right;
  margin-left: auto;
}
.breadcrumb {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9375rem;
  line-height: 1.33333333;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 45.5em) {
  .breadcrumb {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .breadcrumb {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .breadcrumb {
    width: 66.5rem;
  }
}
@media screen and (min-width: 45.5em) {
  .breadcrumb {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .breadcrumb {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .breadcrumb {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.breadcrumb__link {
  color: #05131F;
  text-decoration: underline #cdd0d2;
  transition: background-color 0.3s ease-out;
}
.breadcrumb__link:hover {
  background-color: #e6e7e9;
}
.breadcrumb__seperator {
  color: #ccc;
}
.postinfo p {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  color: #82898f;
}
@media screen and (min-width: 45.5em) {
  .postinfo p {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .postinfo p {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .postinfo p {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 45.5em) {
  .postinfo {
    margin-left: auto;
    margin-right: auto;
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .postinfo {
    float: right;
    position: relative;
    width: 12.5rem;
    left: calc(-1 * (100% - 52rem) / 2);
  }
}
@media screen and (min-width: 90.5em) {
  .postinfo {
    width: 15rem;
    left: calc(-1 * (100% - 66.5rem) / 2);
  }
}
.postinfo__link {
  color: #05131F;
  text-decoration: underline #cdd0d2;
  transition: background-color 0.3s ease-out;
  color: #82898f;
}
.postinfo__link:hover {
  background-color: #e6e7e9;
}
.postinfo__item--tags .postinfo__link {
  margin-right: 0.5rem;
}
.postinfo__item--tags .postinfo__link:last-child {
  margin-right: 0;
}
.logo {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 45.5em) {
  .logo {
    margin: 2rem 0rem 2rem 0rem;
  }
}
.logo__mark {
  width: 1.875rem;
  height: 2.375rem;
}
.logo__type {
  width: 6.9375rem;
  height: 1.5rem;
  fill: white;
  margin-left: 1rem;
}
@media screen and (min-width: 45.5em) {
  .logo__type {
    display: none;
  }
}
@media screen and (min-width: 71.5em) {
  .logo__type {
    display: block;
  }
}
@media screen and (min-width: 71.5em) {
  .navigation__trigger {
    display: none;
  }
}
.navigation {
  display: none;
}
.navigation.fullscreen:target {
  display: flex;
}
.navigation.fullscreen {
  background-color: #190653;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 71.5em) {
  .navigation.inline {
    display: block;
  }
}
.navigation__item {
  margin-bottom: 1rem;
  list-style: none;
}
.navigation__link {
  color: white;
  font-family: 'alegreya';
  font-feature-settings: "lnum" 1;
  font-size: 1.41625rem;
  line-height: 1;
  text-decoration: none;
}
@media screen and (min-width: 45.5em) {
  .navigation__link {
    font-size: 1.41625rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .navigation__link {
    font-size: 1.583125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .navigation__link {
    font-size: 1.91625rem;
    line-height: 1;
  }
}
.navigation__link--current {
  font-weight: bold;
}
.navigation.fullscreen .navigation__link {
  font-size: 3.355rem;
  line-height: 1;
}
@media screen and (min-width: 45.5em) {
  .navigation.fullscreen .navigation__link {
    font-size: 3.355rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .navigation.fullscreen .navigation__link {
    font-size: 4.998125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .navigation.fullscreen .navigation__link {
    font-size: 6.05rem;
    line-height: 1;
  }
}
.prose.reverse,
.prose.reverse a:not([class]) {
  color: white;
}
.prose.reverse a:not([class]):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.prose > p,
.prose > ul,
.prose > ol,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose table,
.prose pre,
.prose blockquote,
.prose hr,
.prose .footnotes {
  margin: 1em auto 0 auto;
  margin-top: 1rem;
  position: relative;
}
@media screen and (min-width: 45.5em) {
  .prose > p,
  .prose > ul,
  .prose > ol,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose table,
  .prose pre,
  .prose blockquote,
  .prose hr,
  .prose .footnotes {
    margin-top: 1.5rem;
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .prose > p,
  .prose > ul,
  .prose > ol,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose table,
  .prose pre,
  .prose blockquote,
  .prose hr,
  .prose .footnotes {
    width: 37rem;
    left: -7.5rem;
  }
}
@media screen and (min-width: 90.5em) {
  .prose > p,
  .prose > ul,
  .prose > ol,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose table,
  .prose pre,
  .prose blockquote,
  .prose hr,
  .prose .footnotes {
    width: 48rem;
    left: -9.25rem;
  }
}
.prose > p,
.prose > ol,
.prose > ul {
  font-size: 1.0625rem;
  line-height: 1.41176471;
}
@media screen and (min-width: 45.5em) {
  .prose > p,
  .prose > ol,
  .prose > ul {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .prose > p,
  .prose > ol,
  .prose > ul {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .prose > p,
  .prose > ol,
  .prose > ul {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.prose > p:first-child {
  font-size: 1.41625rem;
  line-height: 1.41218005;
}
@media screen and (min-width: 45.5em) {
  .prose > p:first-child {
    font-size: 1.41625rem;
    line-height: 1.41218005;
  }
}
@media screen and (min-width: 71.5em) {
  .prose > p:first-child {
    font-size: 1.583125rem;
    line-height: 1.26332412;
  }
}
@media screen and (min-width: 90.5em) {
  .prose > p:first-child {
    font-size: 1.91625rem;
    line-height: 1.30463144;
  }
}
.prose h1 {
  font-size: 3.355rem;
  line-height: 1;
}
@media screen and (min-width: 45.5em) {
  .prose h1 {
    font-size: 3.355rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .prose h1 {
    font-size: 4.998125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .prose h1 {
    font-size: 6.05rem;
    line-height: 1;
  }
}
.prose h2 {
  font-size: 2.516875rem;
  line-height: 1.19195431;
  margin-top: 2rem;
}
@media screen and (min-width: 45.5em) {
  .prose h2 {
    font-size: 2.516875rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .prose h2 {
    font-size: 2.8125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .prose h2 {
    font-size: 3.375rem;
    line-height: 1;
  }
}
@media screen and (min-width: 45.5em) {
  .prose h2 {
    margin-top: 3rem;
  }
}
.prose h3 {
  font-size: 1.41625rem;
  line-height: 1;
  font-family: 'alegreya-sans sc';
  text-transform: lowercase;
  font-weight: bold;
  margin-top: 2rem;
}
@media screen and (min-width: 45.5em) {
  .prose h3 {
    font-size: 1.41625rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .prose h3 {
    font-size: 1.583125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .prose h3 {
    font-size: 1.91625rem;
    line-height: 1;
  }
}
@media screen and (min-width: 45.5em) {
  .prose h3 {
    margin-top: 3rem;
  }
}
.prose h4,
.prose h5,
.prose h5 {
  font-size: 1.41625rem;
  line-height: 1;
  font-family: 'alegreya-sans sc';
  text-transform: lowercase;
  margin-top: 1rem;
}
@media screen and (min-width: 45.5em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    font-size: 1.41625rem;
    line-height: 1;
  }
}
@media screen and (min-width: 71.5em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    font-size: 1.583125rem;
    line-height: 1;
  }
}
@media screen and (min-width: 90.5em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    font-size: 1.91625rem;
    line-height: 1;
  }
}
@media screen and (min-width: 45.5em) {
  .prose h4,
  .prose h5,
  .prose h5 {
    margin-top: 2rem;
  }
}
.prose abbr {
  font-family: 'alegreya-sans sc';
  text-transform: lowercase;
  text-decoration: underline dotted;
}
.prose li ul,
.prose li ol {
  margin-left: 2em;
}
.prose ol li {
  list-style-position: outside;
}
.prose ul li {
  list-style-position: inside;
}
.prose li {
  margin-top: 0.2em;
}
.prose > ul > li:first-child,
.prose > ol > li:first-child {
  margin-top: 0;
}
.prose ul li li {
  list-style-type: circle;
}
.prose ul li li li {
  list-style: square;
}
.prose ol li li {
  list-style-type: lower-alpha;
}
.prose ol li li li {
  list-style-type: lower-roman;
}
.prose table {
  font-family: 'alegreya-sans';
  font-feature-settings: "lnum" 1;
  border-collapse: collapse;
  font-size: 1.0625rem;
  line-height: 1.41176471;
  font-variant-numeric: lining-nums tabular-nums;
}
@media screen and (min-width: 45.5em) {
  .prose table {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .prose table {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .prose table {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.prose thead tr {
  border-bottom: 1px solid;
}
.prose td,
.prose th {
  padding: 0.5em;
  line-height: 1;
  vertical-align: top;
}
.prose th {
  font-weight: bold;
}
.prose td {
  text-align: "." center;
}
.prose a:not([class]) {
  color: #05131F;
  text-decoration: underline #cdd0d2;
  transition: background-color 0.3s ease-out;
}
.prose a:not([class]):hover {
  background-color: #e6e7e9;
}
.prose blockquote {
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  border: 2px solid #5C14FF;
  position: relative;
}
.prose blockquote:before {
  content: '';
  display: block;
  background-color: rgba(92, 20, 255, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
}
.prose blockquote:after {
  content: '';
  background: url('/images/quote.svg');
  height: 3.875rem;
  width: 3.875rem;
  position: absolute;
  bottom: -3rem;
  right: 2rem;
}
.prose blockquote > p {
  margin: 2rem;
  font-style: italic;
  color: #190653;
  font-size: 1.0625rem;
  line-height: 1.41176471;
}
@media screen and (min-width: 45.5em) {
  .prose blockquote > p {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .prose blockquote > p {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .prose blockquote > p {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.prose hr {
  border: none;
  border-bottom-width: 0.125rem;
  border-bottom-color: #FF147E;
  border-bottom-style: solid;
}
.prose code {
  font-family: 'code';
  font-size: 81%;
}
.prose p > code {
  padding: 0.1875rem;
  margin: 0 -0.1875rem;
  background-color: rgba(5, 19, 31, 0.05);
  border-radius: 0.375rem;
}
.prose pre {
  font-size: 1.0625rem;
  line-height: 1.41176471;
  background-color: rgba(5, 19, 31, 0.05);
  overflow: auto;
}
@media screen and (min-width: 45.5em) {
  .prose pre {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 71.5em) {
  .prose pre {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 90.5em) {
  .prose pre {
    font-size: 1.4375rem;
    line-height: 1.39130435;
  }
}
.prose pre > code {
  margin: 1rem;
  display: block;
}
.prose mark,
.prose h2:target,
.prose h3:target,
.prose h4:target,
.prose h5:target,
.prose h6:target {
  background-image: linear-gradient(-100deg, rgba(250, 246, 133, 0.3), rgba(250, 246, 133, 0.7) 95%, rgba(250, 246, 133, 0.1));
}
.prose mark {
  padding: 0 .35em;
  margin: 0 -0.35em;
  border-radius: 1em 0;
}
.prose__headinglink {
  position: absolute;
  left: -1.5rem;
  transform: scale(0.5);
  color: #e6e7e9;
  transition: color 0.3s ease-out;
}
@media screen and (min-width: 71.5em) {
  .prose__headinglink {
    transform: scale(0.75);
    left: -2rem;
  }
}
.prose__headinglink:hover {
  color: #05131F;
}
.prose .footnotes-sep {
  display: none;
}
.prose .footnote-ref a {
  color: #82898f;
}
.prose .footnote-item:target,
.prose .footnote-item:target a {
  color: #05131F;
}
.prose .footnotes {
  font-size: 0.9375rem;
  line-height: 1.33333333;
  border-top: 1px solid #e6e7e9;
  color: #82898f;
  margin-top: 2rem;
}
@media screen and (min-width: 45.5em) {
  .prose .footnotes {
    font-size: 1.078125rem;
    line-height: 1.39130435;
  }
}
@media screen and (min-width: 71.5em) {
  .prose .footnotes {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
@media screen and (min-width: 90.5em) {
  .prose .footnotes {
    font-size: 1.1875rem;
    line-height: 1.26315789;
  }
}
.prose .footnotes:before {
  content: 'footnotes:';
  font-family: 'alegreya-sans sc';
  text-transform: lowercase;
  margin: 1.5rem 0rem 1.5rem 0rem;
  display: block;
}
.prose .footnotes a {
  color: #05131F;
  text-decoration: underline #cdd0d2;
  transition: background-color 0.3s ease-out;
  color: #82898f;
}
.prose .footnotes a:hover {
  background-color: #e6e7e9;
}
.prose .footnotes li {
  margin-top: 0.2em;
  margin-left: 2em;
}
.timeline {
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #ccc;
}
@media screen and (min-width: 45.5em) {
  .timeline {
    width: 37rem;
  }
}
@media screen and (min-width: 71.5em) {
  .timeline {
    width: 52rem;
  }
}
@media screen and (min-width: 90.5em) {
  .timeline {
    width: 66.5rem;
  }
}
.timeline__item {
  list-style: none;
  margin-bottom: 2rem;
}
@media screen and (min-width: 45.5em) {
  .timeline__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}
.timeline__marker {
  margin-left: -0.875rem;
}
@media screen and (min-width: 45.5em) {
  .timeline__marker {
    width: 8.5rem;
  }
}
@media screen and (min-width: 71.5em) {
  .timeline__marker {
    width: 12.5rem;
  }
}
@media screen and (min-width: 90.5em) {
  .timeline__marker {
    width: 15rem;
  }
}
.timeline__content {
  padding-left: 1.5rem;
}
@media screen and (min-width: 45.5em) {
  .timeline__content {
    width: 27rem;
  }
}
@media screen and (min-width: 71.5em) {
  .timeline__content {
    width: 37rem;
  }
}
@media screen and (min-width: 90.5em) {
  .timeline__content {
    width: 48rem;
  }
}
@media screen and (min-width: 45.5em) {
  .timeline__content {
    padding: 0;
  }
}
.section--navigation {
  background-color: #110241;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
@media screen and (min-width: 45.5em) {
  .section--navigation {
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 0;
    width: 4rem;
    border-right: 1px solid white;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 71.5em) {
  .section--navigation {
    width: 12rem;
    padding: 1rem 1rem 1rem 1rem;
    align-items: flex-start;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 90.5em) {
  .section--navigation {
    width: 13.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}
.section--content {
  padding: 1.5rem;
}
@media screen and (min-width: 45.5em) {
  .section--content {
    padding: 2rem 1.5rem 3.5rem 1.5rem;
    margin-left: 5.5rem;
  }
}
@media screen and (min-width: 71.5em) {
  .section--content {
    margin-left: 14.5rem;
  }
}
@media screen and (min-width: 90.5em) {
  .section--content {
    margin-left: 17rem;
  }
}
.section--subnav {
  background-color: #21006B;
}
.page--home {
  background-color: #190653;
}
