.prose {

  >p, >ul, >ol,
  h2, h3, h4, h5, h6,
  table, pre {
    #grid > .text;
    margin-top: 1em;
  }

  >p, >ol, >ul {
    #type > #size > .p;
  }

  >p:first-child {
    #type > #size > .lg;
    //color: @c_secondary-light;
  }

  h1 {
    #type > #size > .h1;
  }
  h2 {
    #type > #size > .h2;
  }
  h3 {
    #type > #size > .h3;
  }
  h4, h5, h5 {
    #type > #size > .h4;
  }

  abbr {
    #type > #font > .sans-sc;
    text-decoration: underline dotted;
  }

  //lists
  ul, ol {
    margin-left: 1em;
  }
  li {
    margin-top: 0.2em;
    list-style-position: inside;
    &:first-child {
      margin-top: 0;
    }
  }

  //tables
  table {
    #type > #font > .sans;
    border-collapse: collapse;
    #type > #size > .p;
    font-variant-numeric: lining-nums tabular-nums;
  }

  td, th {
    padding: 0.125em 0.5em 0.25em 0.5em;
    line-height: 1;
  }

  th {
    font-weight: bold;
  }

  td {
    text-align: "." center;
  }

  //links
  a:not([class]) {
    #type > #style > .link;
  }

  //quotes
  blockquote {
    display: block;
    .space(margin-top,4);
    .space(border-radius,2);
    border: 2px solid @c_primary-light;
    #grid > .text;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-color: fade(@c_primary-light,10%);
      position: absolute;
      width: 100%;
      height: 100%;
      .space(border-radius,2);
      .space(top,1);
      .space(left,1);
      z-index: -1; //enable clicks and selecting content
    }
    &:after {
      content: '';
      background: url('@{baseurl}/images/quote.svg');
      height: unit(62/@base,rem);
      width: unit(62/@base,rem);
      position: absolute;
      bottom: unit(-48/@base,rem);
      .space(right,4);
    }
    >p {
      .space(margin,4);
      font-style: italic;
      color: @c_primary-dark;
      #type > #size > .p;
    }
  }

  hr {
    .space(width,16);
    border: none;
    .space(margin,3,0);
    .space(border-bottom-width,.5);
    border-bottom-color: @c_secondary-light;
    border-bottom-style: solid;
  }


  //code
  code {
    #type > #font > .code;
    font-size: 81%;
  }


  p>code {
    padding: unit(3/@base,rem);
    margin: 0 unit(-3/@base,rem);
    background-color: fade(@c_text,5%);
    border-radius: unit(6/@base,rem);
  }

  //code blocks
  pre {
    #type > #size > .p;
    background-color: fade(@c_text,5%);
    overflow: auto;
    .space(padding,2);
  }

  //mark
  mark {
    background-image: linear-gradient(-100deg,hsla(58,92%,75%,.3),hsla(58,92%,75%,.7) 95%,hsla(58,92%,75%,.1));
    padding: 0 .35em;
    margin: 0 -.35em;
    border-radius: 1em 0;
  }

}
