.prose {

  >p, >ul, >ol,
  h2, h3, h4, h5, h6,
  table, pre, blockquote, hr {
    margin: 1em auto 0 auto;
    .space(margin-top,2);
    position: relative;
    .break-min({
      .space(margin-top,3);
      width: unit((@grid-text-min + @grid-gap-min + @grid-pull-min)*@space/@base,rem);
    });
    .break-mid({
      width: unit((@grid-text-mid)*@space/@base,rem);
      left: unit(-1 * ((@grid-gap-mid + @grid-pull-mid)/2) * @space / @base, rem);
    });
    .break-max({
      width: unit((@grid-text-max)*@space/@base,rem);
      left: unit(-1 * ((@grid-gap-max + @grid-pull-max)/2) * @space / @base, rem);
    });
  }



  >p, >ol, >ul {
    #type > #size > .p;
  }

  >p:first-child {
    #type > #size > .lg;

  }

  h1 {
    #type > #size > .h1;
  }
  h2 {
    #type > #size > .h2;
    .space(margin-top,4);
    .break-min({ .space(margin-top,6);});
  }
  h3 {
    #type > #size > .h3;
    .space(margin-top,2);
    .break-min({ .space(margin-top,4);});
  }
  h4, h5, h5 {
    #type > #size > .h4;
    #type > #font > .sans-sc;
    .space(margin-top,2);
    .break-min({ .space(margin-top,4);});
  }

  abbr {
    #type > #font > .sans-sc;
    text-decoration: underline dotted;
  }

  //lists
  li ul, li ol {
    margin-left: 2em;
  }
  ol li {
    list-style-position: outside;
  }
  ul li {
    list-style-position: inside;
  }
  li {
    margin-top: 0.2em;
  }
  >ul>li,>ol>li {
    &:first-child {
      margin-top: 0;
    }
  }

  ul li li {list-style-type: circle;}
  ul li li li {list-style: square;}

  ol li li {list-style-type: lower-alpha;}
  ol li li li {list-style-type: lower-roman;}


  //tables
  table {
    #type > #font > .sans;
    border-collapse: collapse;
    #type > #size > .p;
    font-variant-numeric: lining-nums tabular-nums;
  }

  thead tr {
    border-bottom: 1px solid;
  }

  td, th {
    padding: 0.5em;
    line-height: 1;
    vertical-align: top;
  }

  th {
    font-weight: bold;
  }

  td {
    text-align: "." center;
  }

  //links
  a:not([class]) {
    #type > #style > .link;
  }

  //quotes
  blockquote {
    display: block;
    .space(margin-top,4);
    .space(margin-bottom,8);
    .space(border-radius,2);
    border: 2px solid @c_primary-light;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-color: fade(@c_primary-light,10%);
      position: absolute;
      width: 100%;
      height: 100%;
      .space(border-radius,2);
      .space(top,1);
      .space(left,1);
      z-index: -1; //enable clicks and selecting content
    }
    &:after {
      content: '';
      background: url('@{baseurl}/images/quote.svg');
      height: unit(62/@base,rem);
      width: unit(62/@base,rem);
      position: absolute;
      bottom: unit(-48/@base,rem);
      .space(right,4);
    }
    >p {
      .space(margin,4);
      font-style: italic;
      color: @c_primary-dark;
      #type > #size > .p;
    }
  }

  hr {
    border: none;
    .space(border-bottom-width,.25);
    border-bottom-color: @c_secondary-light;
    border-bottom-style: solid;
  }


  //code
  code {
    #type > #font > .code;
    font-size: 81%;
  }


  p>code {
    padding: unit(3/@base,rem);
    margin: 0 unit(-3/@base,rem);
    background-color: fade(@c_text,5%);
    border-radius: unit(6/@base,rem);
  }

  //code blocks
  pre {
    #type > #size > .p;
    background-color: fade(@c_text,5%);
    overflow: auto;
    >code {
      .space(margin,2);
      display: block;
    }
  }

  //mark
  mark, h2:target, h3:target, h4:target,h5:target,h6:target {
    background-image: linear-gradient(-100deg,hsla(58,92%,75%,.3),hsla(58,92%,75%,.7) 95%,hsla(58,92%,75%,.1));
  }
  mark {
    padding: 0 .35em;
    margin: 0 -.35em;
    border-radius: 1em 0;
  }

}
